:root{
  --whiteBg:#e5d191;
  --blackBg:#a77f44;

}
body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}
*{
  box-sizing: border-box
}
.chessBoard{
  width: max-content;
  margin: 32px;
  border:1px solid gray;
  border-radius: 12px;
}
.chessBoardCell{
    width: 60px;
    height: 60px;
    text-align: center;
    font-size: 24px;
    padding: 8px;
}
.chessBoardBottom{
  display: flex;
}

.chessBoardRow{
  display: flex;
}
.chessBoardPole{
  border:1px solid gray;

}
.chessBoardTop{
  display: flex;
}

.playerRow:nth-child(odd) .playerCell:nth-child(odd), .playerRow:nth-child(even) .playerCell:nth-child(even)  {
  background-color: var(--whiteBg)
}
.playerRow:nth-child(even) .playerCell:nth-child(odd), .playerRow:nth-child(odd) .playerCell:nth-child(even) {
  
  background-color: var(--blackBg)
}
#positionDate{
  padding: 10px;
  text-align: center;
  font-size: 18px;;
}
.playerCell{
  font-size: 50px;
    padding-top: 0;
}

@media only screen and (max-width: 600px){
  body{
    padding: 4px;;
  }
  .chessBoardCell{
    width: 40px;
    height: 40px;
    font-size: 12px;
  }
  .chessBoard{
    margin: 32px 0;;
  }
  .playerCell{
    font-size: 37px;
  }
}


